body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Images/1747390.jpg');
    background-repeat:no-repeat;

    /*filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));*/
}
html {

}



* {
    color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
    backdrop-filter: blur(30px);
    
    /*padding-bottom: 100vh;*/
    min-height: 100vh;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;

}
.moon{
    color: gray;
}
.mars{
    color: rgb(247, 132, 38);
}

.navbar {
    /*background-color: rgb(255, 255, 255, 0.33);*/
    backdrop-filter: blur(30px);
    background-color: rgb(255, 255, 255, 0.02);
    filter: drop-shadow(0px 10px 10px rgb(255, 255, 255));

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.welcome {
    font-family: Impact;
    font-style: italic;
    text-transform: uppercase;
    filter: drop-shadow(0px 2px 1px rgb(0, 0, 0));
 
}

.s_welcome {
    font-family: Impact;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 420px;
    top: 30px;
    color: gray;
    filter: drop-shadow(0px 2px 1px rgb(0, 0, 0));
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #faff;
    color: gray;
}

#items{
    color: white;
}
