
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        LOL LMAO
        @ViewBag.time
        <br />

        <table>
            @{
                foreach (var moon in ViewBag.moons)
                {
                    <tr>@moon</tr>
                }
            }
        </table>
        <button onclick="@Html.ActionLink("","Redirect","Test")"></button>

    </div>
</body>
</html>
