
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        LOL LMAO
        @ViewBag.time
        <br />

        <table>
            <th scope="col">Crater</th>
            
                @foreach (var moon in (List<string>)ViewBag.moons)
                {
                    <tr>
                        <td>  @moon  </td>
                    </tr>
                }
        
        </table>
        <button onclick="@Html.ActionLink("l","Redirect","Test")"></button>

    </div>
</body>
</html>
